<div class="container bg-light d-md-flex align-items-center">
    <ng-container *ngIf="!loading; else loadingTemplate">
        <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
            <div class="d-flex flex-column h-100">
                <div class="my-auto">
                    <div class="d-flex align-items-center justify-content-between text">
                        <span class="">Room</span>
                        <span class="ps-1">{{ (billDetails?.room_price || '0') | currency }}</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between text">
                        <span class="">Medicines</span>
                        <span class="ps-1">{{ (billDetails?.med_price || '0') | currency }}</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between text">
                        <span class="">Diagnostics</span>
                        <span class="ps-1">{{ (billDetails?.d_price || '0') | currency }}</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between text my-4">
                        <span class="fw-bold fs-5">Total</span>
                        <span class="fw-bold ps-1 fs-5">{{ billDetails?.total | currency }}</span>
                    </div>
                </div>
                <div class="mt-auto">
                    <div class="border-bottom mb-4"></div>
                    <div class="d-flex flex-column mb-4">
                        <span>Invoice ID:</span>
                        <span style="font-size: 14px;">{{ billDetails?.bill_id }}</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between text mt-5">
                        <div class="d-flex flex-column text">
                            <span>GMU Customer Support:</span>
                            <span>online chat 24/7</span>
                        </div>
                        <div class="btn btn-primary rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chat-left" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card box2 shadow-sm position-relative">
            <button type="button" class="btn-close position-absolute" style="top: 1rem; right: 1rem;" aria-label="Close"
                (click)="activeModal.dismiss('Cross click')"></button>
            <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
                <span class="h5 fw-bold m-0">Payment methods</span>
                <div class="btn btn-primary bar">
                    <span class="fas fa-bars"></span>
                </div>
            </div>
            <div class="px-md-5 px-4 mb-4 d-flex align-items-center">
                <img src="assets/icons/mastercard.png" class="me-1" />
                <img src="assets/icons/visa.png" class="me-1" />
                <img src="assets/icons/discover.png" class="me-1" />
                <img src="assets/icons/american-express.png" class="me-1" />
            </div>
            <form class="my-4">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4">
                            <span>Credit/Debit Card</span>
                            <div class="inputWithIcon">
                                <input class="form-control" (input)="selectCardProvider($event)" type="text" value="">
                                <span class="">
                                    <img [src]="selectedCardProvider" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4">
                            <span>Expiration<span class="ps-1">Date</span></span>
                            <div class="inputWithIcon">
                                <input type="text" class="form-control" value="">
                                <span class="fas fa-calendar-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4">
                            <span>Code CVV</span>
                            <div class="inputWithIcon">
                                <input type="password" class="form-control" value="">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4">
                            <span>Name</span>
                            <div class="inputWithIcon">
                                <input class="form-control text-uppercase" type="text" value="">
                                <span class="far fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-md-5 px-4 mt-3">
                        <div class="btn btn-primary w-100" (click)="makePayment()">Pay {{ billDetails?.total | currency
                            }}</div>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
    <ng-template #loadingTemplate>
        <div class="w-100 d-flex-col justify-content-center align-items-center text-center">
            <img src="assets/images/786.gif" alt="Timer GIF" class="mb-2" style="width: 3rem;">
            <p>Please wait, you are getting transferred to GMU Secure Payment </p>
        </div>
    </ng-template>
</div>