<div class="p-4">
    <div class="d-flex justify-content-between align-items-center">
        <div></div>
        <button class="btn btn-green text-white" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" (click)="openDoctorForm()">
            Add Doctor
        </button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Specialization</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">State</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngIf="doctors.length == 0">
                <td colspan="8">No data available!</td>
            </tr>
            <tr *ngFor="let record of doctors; let i = index;">
                <th class="align-middle" scope="row">{{ record.idx +1 }}</th>
                <td class="align-middle">
                    <a [routerLink]="['/doctor', record?.doc_id]" class="text-green">{{ record?.doc_name }}</a>
                </td>
                <td class="align-middle">{{ record?.doc_age }}</td>
                <td class="align-middle text-capitalize">{{ record?.specialization }}</td>
                <td class="align-middle ">{{ record?.email }}</td>
                <td class="align-middle">{{ record?.mobile }}</td>
                <td class="align-middle">{{ record?.state }}</td>
                <!-- <ng-container *ngIf="record?.status == 'active'; else disabledCell;"> -->
                <td>
                    <button class="btn" (click)="openDoctorForm(record)" title="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square text-primary" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </button>
                    <button class="btn" title="Delete" (click)="deleteDoctor(record?.doc_id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </button>
                </td>
                <!-- </ng-container> -->
                <ng-template #disabledCell>
                    <td>
                        <button class="btn" disabled style="border: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-slash-circle text-danger" viewBox=" 0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708" />
                            </svg>
                        </button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end p-2">
        <select class="form-select me-3" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshDoctors()">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="15">15 items per page</option>
            <option [ngValue]="this.doctors_all.length">All items</option>
        </select>
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshDoctors()">
        </ngb-pagination>
    </div>
</div>
<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Offcanvas title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <p>One fine body&hellip;</p>
        <div class="text-end">
            <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
        </div>
    </div>
</ng-template>