<div class="offcanvas-header">
    <h4 class="offcanvas-title ps-2" id="offcanvas-basic-title">{{ doctor ? 'Update Doctor' : 'Add Doctor' }}</h4>
    <button type="button" class="btn-close" aria-label="Close"
        (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>

<div class="offcanvas-body pt-0">
    <form class="px-2 pb-2 mb-4" [formGroup]="doctorform" (ngSubmit)="addOrUpdateDoctor()">

        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" type="text" formControlName="doc_name">
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-4">
                    <label class="form-label" for="age">Age</label>
                    <input class="form-control" id="age" type="text" formControlName="doc_age">
                </div>
                <div class="col-8">
                    <label class="form-label" for="specialization">Specialization</label>
                    <input class="form-control" id="specialization" type="text" formControlName="specialization">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="mobile">Mobile</label>
            <input class="form-control" id="mobile" type="text" formControlName="mobile">
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" formControlName="email">
        </div>


        <div class="mb-3">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" id="address" type="text" formControlName="address">
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="city">City</label>
                    <input class="form-control" id="city" type="text" formControlName="city">
                </div>
                <div class="col">
                    <label class="form-label" for="state">State</label>
                    <input class="form-control" id="state" type="text" formControlName="state">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-green mt-4 text-white">Submit</button>
    </form>
</div>