<div class="offcanvas-header">
    <h4 class="offcanvas-title ps-2" id="offcanvas-basic-title">Prescribe Diagnosis</h4>
    <button type="button" class="btn-close" aria-label="Close"
        (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>
<div class="offcanvas-body pt-0">
    <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.d_name" [term]="t"></ngb-highlight>
    </ng-template>

    <div class="mb-3 px-2">
        <label for="typeahead-template" class="form-label">Search for a Diagnosis:</label>
        <input #searchinput id="typeahead-template" type="text" class="form-control" [value]="searchText"
            (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
            (selectItem)="select($event)" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
    </div>

    <form class="px-2 pb-2 mb-4" [formGroup]="selectedDiagnosisForm" (ngSubmit)="issueDiagnosis()">
        <div formArrayName="diagnosis">
            <table class="table table-striped" *ngIf="selectedDiagnosticsArray?.value.length">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Cost</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngIf="selectedDiagnosticsArray.controls.length == 0">
                        <td colspan="4">No diagnostics added</td>
                    </tr>
                    <tr *ngFor="let x of selectedDiagnosticsArray.controls; let i = index;" [formGroupName]="i">
                        <th class="align-middle" scope="row">{{ i+1 }}</th>
                        <td class="align-middle">
                            {{ selectedDiagnosticsArray.at(i).get('d_name')?.value }}
                        </td>

                        <td class="align-middle">
                            {{ selectedDiagnosticsArray.at(i).get('d_cost')?.value }}
                        </td>
                        <td>
                            <button class="btn" (click)="deleteItem(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button *ngIf="selectedDiagnosticsArray?.value.length" class="btn btn-green text-white"
            type="submit">Submit</button>
    </form>

</div>