.status-badge {
    border: 1px solid rgb(var(--color));
    color: rgb(var(--color));
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background: rgba(var(--color), 0.15);
}

.badge-success {
    --color: 25, 135, 84;
}

.badge-default {
    --color: 51, 51, 51;
}

.action-btn {
    --bs-btn-disabled-border-color: transparent;
}